<!DOCTYPE html>
<html lang="{{ lang or "no" }}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description or site.description }}">
  <link rel="shortcut icon" href="/bilder/favicon.jpg" type="image/x-icon">
  <link rel="stylesheet" href="/style.css?v={{ "/style.css" | assetHash }}">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ description or site.description }}">
  <meta property="og:image" content="{{ site.url }}{{ site.ogImage }}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:type" content="website">
  {%- if highlight %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>
  {%- endif %}
  <script src="/site-header.js" defer></script>
</head>

<body>
  <site-header></site-header>

{{ content | safe }}
</body>

</html>
