---
pagination:
  data: backendNotes
  size: 1
  alias: note
permalink: "{{ note.url }}"
layout: layouts/note.njk
eleventyComputed:
  title: "{{ note.title }}"
  heading: "{{ note.heading }}"
  description: "{{ note.description }}"
  lang: "{{ note.lang }}"
  date: "{{ note.date }}"
  dateIso: "{{ note.date_iso }}"
  dateText: "{{ note.date_text }}"
---
{{ note.content_html | safe }}
