---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.title }} — Notater</title>
  <link href="{{ site.url }}/feed.xml" rel="self"/>
  <link href="{{ site.url }}/"/>
  <id>{{ site.url }}/</id>
  <updated>{{ (collections.notater | reverse | first).date.toISOString() }}</updated>
  <author>
    <name>{{ site.title }}</name>
  </author>
{%- for notat in collections.notater | reverse %}
  <entry>
    <title>{{ notat.data.title }}</title>
    <link href="{{ site.url }}{{ notat.url }}"/>
    <id>{{ site.url }}{{ notat.url }}</id>
    <updated>{{ notat.date.toISOString() }}</updated>
    <summary>{{ notat.data.description }}</summary>
  </entry>
{%- endfor %}
</feed>
