---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for side in collections.all %}
  <url>
    <loc>{{ site.url }}{{ side.url }}</loc>
    <lastmod>{{ side.date.toISOString().split("T")[0] }}</lastmod>
  </url>
{%- endfor %}
{%- for note in backendNotes %}
  <url>
    <loc>{{ site.url }}{{ note.url }}</loc>
    <lastmod>{{ note.date }}</lastmod>
  </url>
{%- endfor %}
</urlset>
